/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #3c3c3c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  width: 400px;
  background-color: #2c2c2c;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: -25px 23px 15px 0px rgba(0, 0, 0, 0.1);
}

.input-group > input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.input-group > input:focus {
  border: none;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form > button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form > button:hover {
  border: 2px solid #e0e0e0;
  cursor: pointer;
  background-color: #e0e0e0;
}

h1 {
  font-size: 3.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
